* {
    font-family: "Acme", cursive;
    /* background-color: #d19136; */
    /* color: grey; */
    /* background-image: url('/assets/images/seamless_wood5.jpg'); */
}

h1, h2, h3 {
    font-family: "Calistoga", cursive;
    font-weight: bolder;
    font-size: 2em;
    color: black;
}

h1 {
    font-size: 3em;
     color: #1b751e;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom: 2px solid black;
}

.nobg {
  background-image: none;
}

/* .navBorder {
    border-top: black solid 3px;
    border-bottom: black solid 3px;
} */

.nav-link {
    color: #1b751e;
}

.homeCarousel {
    background-color: rgba(1,1,1,1);
    padding: 0.5em;
    width: 80%;
    margin-left: 10%;
}

.homeCarousel img {
    width: 100%;
}

.navToggler {
    background-color: #1b751e;
}

.myGreen {
    color: #1b751e;
}

.homeCardTitle {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40%;
    text-align: center;
}

.carouselRow {
    margin: 2em;
}

.requestButton {
    margin-left: 2em;
}

.gameMenuCard {
    margin-top: 2em;
}

.gamesTitleRow {
    margin-top: 2em;
}

.navBarStyle {
    background-color: rgba(0, 0, 0, 0.5);
}